<HTML>
    <BODY BGCOLOR="99FFFF">
        <CENTER><TABLE BORDER="0" WIDTH="90%">
<TR> <TD WIDTH="10%" ALIGN="CENTER"><IMG SRC="images-237-1.jpg" WIDTH="200" 
HEIGHT="300"></TD>
          <TD WIDTH="80%" ALIGN="CENTER"><FONT SIZE="7" FACE="Kunstler 
Script"><B><MARQUEE BEHAVIOR="SCROLL" SCROLLDELAY="1%" DIRECTION="LEFT">
              <FONT SIZE="7" FACE="ALGERIAN"><I>¿Cómo preparar pasta de ajo?</I></FONT></MARQUEE></B></FONT></TD>
          <TD WIDTH="10%" ALIGN="CENTER"><IMG SRC="images-131.jpeg" WIDTH="200" 
HEIGHT="300"></TD>
</TR></TABLE><BR><BR>  
            <TABLE BORDER="0">
                <TR><TD ALIGN="LEFT">
                    <UL><H3>Ingredientes</H3>
            <LI>Ajo</LI>
            <LI>Aceite de olivo</LI>
        </UL>
        <OL><H3>Procedimiento</H3>
            <LI>Pelar el ajo</LI>
            <LI>Lavar el ajo</LI>
            <LI>Vaciar el ajo en una licuadora y agregar aceite de olivo</LI>
            <LI>Vaciar la mezcla en frasco de vidrio</LI>
        </OL>      
                    </TD></TR>
            </TABLE>
        <TABLE BORDER="3">
<TR>
           <TD COLSPAN="10" ALIGN="CENTER"><B>AJO</B></TD>
</TR>
<TR>
           <TD COLSPAN="2" ALIGN="CENTER"><B>Beneficios</B></TD>
           <TD COLSPAN="2" ALIGN="CENTER"><B>Propiedades nutricionales</B></TD>
           <TD COLSPAN="2" ALIGN="CENTER"><B>Contenido</B></TD>
           <TD COLSPAN="2" ALIGN="CENTER"><B>Propiedades</B></TD>
           <TD COLSPAN="2" ALIGN="CENTER"><B>Usos</B></TD>
</TR>
<TR>
    <TD ROWSPAN="3" COLSPAN="2" ALIGN="LEFT">
        <OL>
        <LI>Protege tu memoria</LI>
        <LI>Mejora tu piel</LI>
        <LI>Mejora la digestión</LI>
        <LI>Mejero la circulación</LI>
        <LI>Anti-inflatorio</LI>
        <LI>Previene enfermedades</LI>
        <LI>Reduce el colesterol</LI>
        <LI>Ayuda a adelgazar</LI>
        <LI>Protege tu corazón</LI>
        </OL>
    </TD>
    <TD ROWSPAN="3" COLSPAN="2" ALIGN="LEFT">
        <OL>
            <LI>Calorias: 149</LI>
            <LI>Grasa: 0,2g</LI>
            <LI>Proteínas: 6g</LI>
            <LI>Carbohidratos: 33g</LI>
            <LI>Fibra: 2g</LI>
        </OL>
    </TD>
    <TD ROWSPAN="3" COLSPAN="2" ALIGN="LEFT">
        <OL>
            <LI>Frutosanas: 75%</LI>
            <LI>Aceite esencial: 0,2 - 0,3%</LI>
            <LI>Vitaminas A, B, B2, B6, C y E</LI>
            <LI>Adenosina</LI>
            <LI>Sales minerales</LI>
            <LI>Mucílagos</LI>
        </OL>
    </TD>
    <TD ROWSPAN="3" COLSPAN="2" ALIGN="LEFT">
        <OL>
            <LI>Acaricida</LI>
            <LI>Atibacteriano</LI>
            <LI>Antigripal</LI>
            <LI>Antiparasitario</LI>
            <LI>Inmunoestimulante</LI>
            <LI>Vasodilatador</LI></OL>
    </TD>
    <TD ROWSPAN="3" COLSPAN="2" ALIGN="LEFT">
        <OL>
            <LI>Hipertensión arterial</LI>
            <LI>Arteriopatías</LI>
            <LI>Resfrío</LI>
            <LI>Gripe</LI>
            <LI>Bronquitis</LI>
            <LI>Asma</LI>
            <LI>Faringitis</LI>
            <LI>Diabetes</LI>
        </OL>
    </TD>
</TR>
        </TABLE>
    </BODY>
</HTML>
